build
.gradle
.idea
*.iml
*.ipr
*.iws
out
.project
.classpath
*.log
*.log.gzisbndb.host=http://isbndb.com
isbndb.apikey=GTE3OSYT

metrics.jvmMetrics=true
metrics.jmx.enabled=true
metrics.webSocket.reporterInterval=PT30S